<article lang={{model.lang}}>
  <div class="graphics-post-title">
    <h1>{{model.title}}</h1>
    {{#link-to 'graphics'}}{{s-close}}{{/link-to}}
  </div>
  {{#if hasMultiple}}
    {{#swiper-container pagination=hasMultiple currentSlide=currentPictureIndex}}
      {{#each model.pictures as |picture|}}
        {{#swiper-slide}}
          {{#if (is-pdf picture.src)}}
            {{pdf-viewer src=picture.src}}
          {{else}}
            <img src={{picture.src}} alt={{picture.title}}>
          {{/if}}
        {{/swiper-slide}}
      {{/each}}
    {{/swiper-container}}
    {{#if currentPictureIndex}}
      <button class="previous-picture" {{action 'previous'}}>
        {{~s-chevron rotate=true~}}
      </button>
    {{/if}}
    {{#if hasNext}}
      <button class="next-picture" {{action 'next'}}>{{s-chevron}}</button>
    {{/if}}
  {{else}}
    <img src={{currentPicture.src}} alt={{currentPicture.title}}>
  {{/if}}
  {{#if model.content}}
    <section class="graphics-post-content {{if showContent 'graphics-post-content--visible'}}">
      {{{model.content}}}
    </section>
    <button class="graphics-post-show-content" {{action 'show-content'}}>
      Information
    </button>
  {{/if}}
</article>
