<article>
  <div class="graphics-post-title">
    <h1>{{model.title}}</h1>
    {{#link-to 'graphics'}}&times;{{/link-to}}
  </div>
  {{#if hasMultiple}}
    {{#swiper-container pagination=hasMultiple currentSlide=currentPictureIndex}}
      {{#each model.pictures as |picture|}}
        {{#swiper-slide}}
          <img src={{picture.src}} alt={{picture.title}}>
        {{/swiper-slide}}
      {{/each}}
    {{/swiper-container}}
    {{#if currentPictureIndex}}
      <button class="previous-picture" {{action 'previous'}}>‹</button>
    {{/if}}
    {{#if hasNext}}
      <button class="next-picture" {{action 'next'}}>›</button>
    {{/if}}
  {{else}}
    <img src={{currentPicture.src}} alt={{currentPicture.title}}>
  {{/if}}
</article>
