{{! template-lint-disable triple-curlies }}
{{~title model.title~}}
<article class="page-content" lang={{model.lang}}>
  <header>
    <time datetime={{date-format-iso model.date}}>
      {{~date-format model.date~}}
    </time>
    <h1>{{model.title}}</h1>
  </header>
  {{~{model.content}~}}
</article>
